@import url('https://fonts.googleapis.com/css?family=Poppins');
@import 'variables';

* {
	font-family: 'Avenir', 'Poppins', sans-serif;
	outline-color: $featured;
}

body {
	line-height: 1.4;
}

input,
button,
textarea {
	border-radius: 0;
	box-shadow: none !important;
	border-color: $dark !important;
	&:focus {
		border-color: $featured !important;
	}
}

input {
	&[type=file] {
		cursor: pointer;
	}
}

.btn,
.card,
.alert,
.form-control,
.modal-content {
	border-radius: 0 !important;
}

.btn-primary {
  background-color: $featured;
  border-color: $featured-dark;
  &:hover {
    background-color: $featured-dark;
  }
}

.btn-outline-primary {
  border-color: var(--featured) !important;
  color: var(--featured) !important;
  &:hover {
    color: var(--darker) !important;
    background-color: var(--featured) !important;
  }
}
